<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <property name="LOGS_ABSOLUTE_PATH" value="./logs" />
  <property name="CONSOLE_LOG_PATTERN"
    value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative]  %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %msg%n"/>
  <property name="FILE_LOG_PATTERN"
    value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level ${PID:-} --- [%15.15thread] %-40.40logger{36} : %msg%n"/>

  <!-- STDOUT Console Appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
    </layout>
  </appender>

  <!-- FILE Appender for logback.log -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOGS_ABSOLUTE_PATH}/logback.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- AsyncAppender for logback.log -->
  <appender name="QUERY_FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
    <queueSize>512</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <includeCallerData>false</includeCallerData>
    <neverBlock>true</neverBlock>
    <maxFlushTime>1000</maxFlushTime>
  </appender>

  <!-- Root Logger with DB, STDOUT, and QUERY_FILE_ASYNC appenders -->
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="QUERY_FILE_ASYNC" />
  </root>

  <!-- Logger for org.springframework.web -->
  <logger name="org.springframework.web" level="debug" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <!-- 기존 USER_REQUEST_RESPONSE_FILE Appender와 com.vincent.logging Logger 제거 -->
</configuration>
